body{
    margin: 0;
    background-color: rgb(212, 222, 232);
}
button{
    border-radius: 10px;
    background-color: rgb(20, 139, 229);
    color:aliceblue;
    font-size: 20px;
    border: none;
    margin-top: 2px;
    cursor:pointer ;
    height: 35px;

}
.posts-container{
    display: flex;
    
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border: solid black 3px;
    border-radius: 10px;
}

.input-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    height: 80px;
    
}

.post-inputs{
    text-indent: 5px;
    height: 35px;
    border-radius: 15px;
    border: none;
    margin-right: 7px;
}